{% extends 'base.html.twig' %}

{% block title %}Formulaire création événement{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello advertiser !</h1>

    Cette page est le formulaire pour créer un événement

    {# read and display just one flash message type #}
    {% for message in app.flashes('event_create') %}
         <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
         <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div>
        {{ form_errors(form) }}
    </div>
    <div class="row">
    </div>
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.description) }}    
        {{ form_row(form.isPremium) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.picture) }}
        {# {{ form_row(form.tags) }} #}
        {{ form_row(form.category) }}


    <div class="col-md-4" id="some-custom-id">

            <button class="btn btn-primary">Valider</button>

        </div>

    </div>

{{ form_end(form) }}

</div>
{% endblock %}
