{% extends 'base.html.twig' %}

{% block title %}Formulaire de commentaire sur un événement{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if app.user %}
                    <h1 class = "mb-4">{{ app.user.name }} commentez l'événement : {{ event.name }}</h1>
                {% endif %}

                <div class="row">
                    {{ form_start (form, {attr: {'novalidate': 'novalidate'}}) }}
                    {{ form_end (form)}}
                </div> 
                {# {% if vich_uploader_asset (event, 'pictureFile') %}
                        <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') | imagine_filter ('event_picture_300') }}" alt="{{ event.name }}" />
                    {% else %}
                        <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') ?: '/upload/default_picture/default_event.jpg' | imagine_filter ('event_picture_300') }}" alt="{{ event.name }}" />
                {% endif %} #}
                
            </div>  
        </div>
    </div>

{% endblock %}
