
    {# affiche le user name du user en session  #}
    {% if app.user %}
        <h5 class="text-center mt-1 mb-4">Hello ! {{ app.user.username }}</h5> 
    {% endif %}

    {# flash message après email vérification  #}
    {% for message in app.flashes('emailverification') %}
        <div class="container alert alert-success text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}

    {# flash message après login  #}
    {% for message in app.flashes('success-login') %}
        <div class="container alert alert-success text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}

    {# flash message si demande d'accès à une page non autorisée  #}
    {% for message in app.flashes('unautorized-access') %}
        <div class="container alert alert-success text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}

    {# flash message après login et enregistrement statut annonceur  #}
    {% for message in app.flashes('success-register-annonceur') %}
        <div class="container alert alert-success text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}


    {# flash message après login et enregistrement statut user  #}
    {% for message in app.flashes('success-register-user') %}
        <div class="container alert alert-success text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}

    {# flash message après paswword reset  #}
    {% for message in app.flashes('password-reset-success') %}
        <div class="container alert alert-success text-center mb-4">
            {{ message }}
        </div>
    {% endfor %}
    
    {# flash message après ajout événement  #}
    {% for message in app.flashes('event_create') %}
            <div class="alert alert-success text-center mb-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}

    {# flash message après édition d'un événement  #}
      {% for message in app.flashes('event_edit') %}
             <div class="alert alert-success text-center mb-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}

