<div class="header">
    <div class="container-fluid">
        
        <div class="row p-3">
            <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <div class="header_logo">             
                    <a href="{{ path('main_home') }}"><img src="{{ asset('assets/images/logo-culture-city-app.svg') }}" alt="logo culture city app" class="#"></a>
                </div>
            </div>
            <div class="col-6 col-lg-6 d-flex justify-content-lg-center align-items-center mt-2 p-0">
                <nav class="navbar navbar-expand-lg navbar-dark">
                            
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa-solid fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                            <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('show_category', {slug: 'concert'}) }}">Concert</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link categories" href="{{ path('show_category', {slug: 'spectacle'}) }}">Spectacle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link categories" href="{{ path('show_category', {slug: 'exposition'}) }}">Expositions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link categories" href="{{ path('show_category', {slug: 'loisir'}) }}">Loisirs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link categories" href="{{ path('show_category', {slug: 'evenementiel'}) }}">Evènementiel</a>
                                </li>                               
                            </ul>
                        </div>

                </nav>      
            </div>

            <div class="col-6 col-lg-3 d-flex justify-content-end align-items-start align-items-lg-center mt-2 mt-lg-0">
               
                <!--button to add event-->
                <div class="me-3 mt-1 d-none d-md-block ">
                {% if app.user %}
                    <a class="btn btn-primary" href="{{ path('create_event') }}" role="button">   
                        <i class="fa-solid fa-bullhorn"></i>
                        Annoncer un évènement
                    </a>
                {% endif %}
                </div>

                <!--profile with link back office-->
                <div class="dropdown  mt-3 mt-lg-0">
                    <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        
                        {% if app.user %}
                            <div class="avatar-header">
                                {% if vich_uploader_asset (app.user, 'avatarFile') %}
                                    <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (app.user, 'avatarFile') | imagine_filter ('avatar_50') }}" alt="{{ app.user.name }}" />
                                {% else %}
                                    <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (app.user, 'avatarFile') ?: '/upload/default_picture/default_avatar.jpg' | imagine_filter ('avatar_50') }}" alt="{{ app.user.name }}" />
                                {% endif %} 
                            </div>
                        {% else %}
                            <i class="fa-solid fa-circle-user fa-2xl text-white"></i>
                        {% endif %}
  
                    </a>
                    
                    <ul class="dropdown-menu dropdown-menu-white dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}    
                        <li>
                            <a class="dropdown-item active" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('user_register') }}">Inscription</a>
                        </li>
                        <li>    
                            <a class="dropdown-item" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>  
                        </li>
                    {% endif %}   

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <hr class="dropdown-divider"></hr>

                        {% if is_granted('ROLE_ANNONCEUR') %}
                        <li>
                            <a class="dropdown-item" href="{{ path('show_advertiser_page', {slug: app.user.slug}) }}">Voir mon profil</a>
                        </li>
                        {% elseif is_granted('ROLE_USER') %}
                        <li>
                            <a class="dropdown-item" href="{{ path('show_user_page', {slug: app.user.slug}) }}">Voir mon profil</a>
                        </li>
                        {% endif %}

                        {% if is_granted('ROLE_ANNONCEUR', 'ROLE_USER') %}
                         <li>      
                            <a class="dropdown-item" href="{{ path('advertise_edit_profile', {slug: app.user.slug}) }}">Editer mon profil</a>    
                        </li>
                        {% elseif is_granted('ROLE_USER') %}
                        <li>      
                            <a class="dropdown-item" href="{{ path('user_edit_profile', {slug: app.user.slug}) }}">Editer mon profil</a>    
                        </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{{ path('back_admin') }}">Accès au back office</a>
                    {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

        </div> <!--end row-->
    </div>
</div><!--end header-->