<!doctype html>
<html lang="fr">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      
        <!-- Fontawesome CDN -->
        <script src="https://kit.fontawesome.com/115544430d.js" crossorigin="anonymous"></script>

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
        <script src="{{ asset('assets/js/config.js') }}" defer></script>
        <script src="{{ asset('assets/js/locality.js') }}" defer></script>
        <script src="{{ asset('assets/js/app.js') }}" defer></script>
        
        {% block stylesheets %} {% endblock %}
        
        <!-- App custom CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <!-- favicon -->
        
        {# https://symfony.com/doc/current/templates.html#linking-to-css-javascript-and-image-assets #}
        {# the image lives at "public/images/logo.png" #}
        {# <img src="{{ asset('images/logo.png') }}" alt="Symfony!"/> #}
        <link rel="shortcut icon" href="{{ asset('assets/favicon.png') }}" type="image/x-icon">

        <title>
            {% block title %}
                Culture City App
            {% endblock %}
        </title>
    
</head>

<body>
    {% include '_header.html.twig' %}

    <div class="container-fluid my-5">
        {% block body %}
       
        {% endblock %}
    </div> 

    {% include '_footer.html.twig' %}

    {% block javascripts %}
        <!-- Bootstrap bundle CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- autocomplete adress advertiser edit page-->
        {% block javascript_autocomplete_address %} {% endblock %}
        <!-- map advertiser profil page-->
        {% block javascript_map_advertiser_page %} {% endblock %}
    {% endblock %}
</body>

    <!-- add a template element as model to display an event  -->
    <template id="eventTemplate">
        <div class="col-12 col-sm-6 col-xl-4 col-xxl-3 mb-3 p-sm-3 ">
            <div class="card overflow-hidden">
                <div class="d-flex flex-row flex-md-column">
                    <div class="col-4 col-sm-12 ">
                        <a href="">
                            <div class="square">
                            </div>
                        <a id="" href="">
                            <div class="sticker-category text-center scaled-xs">
                                <div class="square-category"> </div>
                            </div>
                        </a>
                    </div>
              
                    <div class="col-8 col-sm-12 p-1 p-sm-3">
                        <a href="">
                            <h3 class="eventName mb-2"></h3>
                        </a>

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-calendar-days d-inline"></i> 
                                <div class =" eventStartDate date ms-2 d-inline"> </div> <div id="inProgress" class="d-none btn-xs">en cours</div>
                            </div> 
                        </div>
                        
                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-tags d-inline"></i>
                                <div class="eventTags tags ms-2 d-inline"> </div> 
                            </div>
                        </div>

                        <div class="my-2">    
                            <div class="scaled-xs">
                                <i class="fa-solid fa-location-dot d-inline"></i> 
                                <a href="">
                                    <div class="eventPlace place ms-2 d-inline"> </div>
                                </a>
                            </div>  
                        </div>
                        
                        <div class="d-flex justify-content-end">
                            <a href="">
                                <i class="eventArrow fa-solid fa-arrow-right-long me-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </template>

</html>