{% extends 'base.html.twig' %}

{% block title %}categorie : {{category.name}} {% endblock %}

{% block body %}



{#% START SideBar %#}
<div class="container-fluid">
    <div class="row">
         <div class="col-12 col-lg-4 col-xl-3">
     {#<form id="filters">
                <div class="aside p-4 mb-5">
                    <!-- search by date -->
                    <input type="date" id="start" name="trip-start" value="2022-02-22" min="2022-02-22" max="2032-12-31">

         <!-- Checked switch -->
                    {% for category in categories %}
                    <div class="form-check form-switch d-flex align-items-center my-3">
                        <input class="form-check-input" name="filters[]" type="checkbox" role="switch3" value="{{ category.name }}" id="flexSwitchCheckChecked"/>
                        <label class="form-check-label text-white ms-2" for="flexSwi3tchCheckChecked">{{ category.name }}</label>
                    </div>
                    {% endfor %}        
                </div>
    </form> #}
    
    <!-- Premium events in current category-->
    {% include '_category_premium_events.html.twig' %}

        <div class="col-12 col-lg-8 col-xl-9">
            <div class="main"> 
                
                <h1>Événements {{category.name}} </h1>
                <div class="separator"></div>

                <div id="displayEvents" class="d-flex flex-column flex-md-row"></div>

                <div class="d-flex flex-column flex-md-row flex-wrap">
                {# emmet : div.col-12>div.card>img+div.p-3r>h3+div.date+div.tags+div.place #}
                    
                    {% for event in eventsList %}
                        <div class="col-12 col-sm-6 col-xl-4 col-xxl-3 mb-3 p-sm-3 ">
                            <div class="card overflow-hidden">
                                <div class="d-flex d-flex flex-row flex-md-column">
                                    <div class="col-4 col-sm-12 ">
                                        <a href="{{ path('show_event', {slug: event.slug}) }}">
                                            {% if vich_uploader_asset (event, 'pictureFile') %}
                                            <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') | imagine_filter ('event_picture_300') }}" alt="{{ event.name }}" />
                                            {% else %}
                                            <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') ?: '/upload/default_picture/default_event.jpg' | imagine_filter ('event_picture_300') }}" alt="{{ event.name }}" />
                                            {% endif %} 
                                            {# <img class="img-fluid w-100 border-radius" src="{{event.picture}}" alt="{{event.name}}"> #}
                                        </a>
                                        
                                        <a href="{{ path('show_category', {slug: category.slug}) }}">
                                            <div class="sticker-category text-center scaled-xs">
                                                <div class="bg-category-{{event.category.slug}} d-inline "> {{event.category.name}}</div>
                                            </div>
                                        </a>
                                    </div>
                                
                                    <div class="col-8 col-sm-12 p-1 p-sm-3">
                                        <a href="{{ path('show_event', {slug: event.slug}) }}">
                                            <h3 class="name mb-2">{{ event.name > 5 ? event.name|slice(0, 15) ~ '...' : event.name }}</h3>
                                        </a>

                                        <div class="my-2">
                                            <div class="scaled-xs">
                                                <i class="fa-solid fa-calendar-days d-inline"></i> 
                                                <div class ="date ms-2 d-inline">{{event.startDate | date("d/m/Y")}}</div>
                                            </div> 
                                        </div>
                                        
                                        {% if event.tags|length > 0 %}
                                        <div class="my-2">
                                            <div class="scaled-xs">
                                                <i class="fa-solid fa-tags d-inline"></i> 
                                                <div class="tags ms-2 d-inline">
                                                    {% for tag in event.tags %}
                                                        <a href="{{ path('show_tag', {slug: tag.slug}) }}">{{tag.name}}</a>
                                                    {% endfor %}
                                                </div>    
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="my-2">    
                                            <div class="scaled-xs">
                                                <i class="fa-solid fa-location-dot d-inline"></i> 
                                                <a href="{{ path('show_advertiser_page', {slug: event.user.slug}) }}">
                                                    <div class="place ms-2 d-inline"> {{event.user.name}}</div>
                                                </a>
                                            </div>  
                                        </div>

                                        <div class="my-2">
                                            <div class="scaled-xs">
                                                <i class="fa-solid fa-money-bill"></i>
                                                <div class ="price ms-2 d-inline">{{event.price}}<span> €</span></div>
                                            </div> 
                                        </div>
                                        
                                        <div class="d-flex justify-content-end">
                                            <a href="{{ path('show_event', {slug: event.slug}) }}">
                                                <i class="fa-solid fa-arrow-right-long me-2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>   
                         {% else %}
                         <p>Il n'y a pas encore d'événements ici !</p> 
                    {% endfor %}
  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
