{% extends 'base.html.twig' %}

{% block title %}page event{% endblock %}

{% block body %}
    
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <div class="main">

                    <!-- event picture -->
                    <div class="col-12 mb-3">
                       
                        {% if vich_uploader_asset (event, 'pictureFile') %}
                        <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') | imagine_filter ('event_picture_600') }}" alt="{{ event.name }}" />
                        {% else %}
                        <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') ?: '/upload/default_picture/default_event.jpg' | imagine_filter ('event_picture_600') }}" alt="{{ event.name }}" />
                        {% endif %}
                        
                    </div>

                    <!-- event details -->
                    <div class="col-12 p-1 p-sm-3">
                        <div class="my-3 mb-lg-4">
                            <div class="scaled-xs"> 
                                <a href="{{ path('show_category', {slug: event.category.slug}) }}">  
                                    <div class ="category bg-category-{{event.category.slug}} d-inline">{{event.category.name}}</div>
                                </a>
                            </div> 
                        </div>
                        
                        
                        <h1 class="name mb-2 mb-xl-3">{{event.name}}</h1>
                        

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-calendar-days d-inline"></i> 
                                <div class ="date ms-2 d-inline">{{event.startDate | date("d/m/Y")}}</div>
                            </div> 
                        </div>

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-clock"></i>
                                <div class ="start-time ms-2 d-inline">{{event.startDate | date("g:ia")}}</div>
                            </div> 
                        </div>
                        
                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-tags d-inline"></i> 
                                <div class="tags ms-2 d-inline"> 
                                    {% for tag in event.tags %}
                                        <a href="{{ path('show_tag', {slug: tag.slug}) }}">{{tag.name}}</a>
                                    {% endfor %}
                                </div>    
                            </div>
                        </div>

                        <div class="my-2">    
                            <div class="scaled-xs">
                                <i class="fa-solid fa-location-dot d-inline"></i> 
                                <a href="{{ path('show_advertiser_page', {slug: event.user.slug}) }}">
                                    <div class="place ms-2 d-inline">{{event.user.name}}</div>
                                </a>
                            </div>  
                        </div>

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-money-bill"></i>
                                <div class ="price ms-2 d-inline">{{event.price}}<span>€</span></div>
                            </div> 
                        </div>
 
                        <div class="separator mt-4"></div>

                        <div class="my-2 my-xl-3">    
                            <div class="scaled-xs">   
                                <p>{{event.description}}</p>  
                            </div>  
                        </div>

                        <div class="separator mt-4"></div>
                        
                        <!-- contact info-->
                        <div class="scaled-xs">
                            <address class="mb-2">
                                <i class="fa-solid fa-location-dot me-2"></i><p>{{event.user.address1}}<br>
                                {{event.user.address2}}<br>
                                {{event.user.zip}} {{event.user.city}}</p>
                            </address>
                            <div class="my-2 my-xl-3">
                                <i class="fa-solid fa-phone me-2" ></i><a href="tel:+{{event.user.phone}}" class="phone">{{event.user.phone}}</a>
                            </div>
                            <div class="my-2 my-xl-3">
                                <i class="fa-solid fa-envelope me-2"></i><a href="mailto:{{event.user.email}}" class="email">{{event.user.email}}</a>
                            </div>
                        </div>
                        <!-- end contact info-->
                        
                        <!-- back to home or toher page-->
                        <div class="d-flex justify-content-start mt-5">
                            <a href="{{ path('show_category', {slug: event.category.slug}) }}">
                                <i class="fa-solid fa-circle-arrow-left fa-2xl d-inline"></i> <p class="d-inline scaled-xs">retour page catégorie</p>
                            </a>
                        </div>
                        <!-- end back to home-->

                    </div> <!-- end event details -->
                </div>     
            </div> 

        </div>
    </div>  
{% endblock %}

