{% extends 'base.html.twig' %}

{% block title %}page event{% endblock %}

{% block body %}


    
    <div class="container">
        <div class="row">

         {% for message in app.flashes('succes-comment') %}
            <div class="alert alert-success text-center mb-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}

            <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <div class="main">

                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <!-- edit button if it's your own event -->
         
                            {% if is_granted("EVENT_EDIT", event) %}
                                <div class="text-center">  
                                    <button type="button" class="btn btn-warning mb-3">
                                        <a href="{{ path("event_edit", {slug: event.slug}) }}">Modifier votre événement</a>
                                    </button>
                                </div>  
                            {% endif %}
                            <!-- end edit button -->
                        </div>
                        
                        <div class="col text-center d-flex align-items-center justify-content-center">
                            <!-- Add and Remove Favorites buttons -->               
                            {% include '_favorite_buttons.html.twig' %}
                        </div>
                        
                    </div>
                    <!-- event picture -->
                    <div class="col-12 mb-3">
                       
                        {% if vich_uploader_asset (event, 'pictureFile') %}
                        <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') | imagine_filter ('event_picture_600') }}" alt="{{ event.name }}" />
                        {% else %}
                            <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') ?: '/upload/default_picture/default_event.jpg' | imagine_filter ('event_picture_600') }}" alt="{{ event.name }}" />
                        {% endif %}

                        <!-- event details category -->
                        <div class="mb-lg-4">
                            <div class="sticker-category text-center scaled-xs"> 
                                <a href="{{ path('show_category', {slug: event.category.slug}) }}">  
                                    <div class ="category bg-category-{{event.category.slug}} d-inline">{{event.category.name}}</div>
                                </a>
                            </div> 
                        </div> 
                      
                    </div>

                    <!-- event details -->
                    <div class="col-12 p-1 p-sm-3">

                        <h1 class="name mb-2 mb-xl-3">{{event.name}}</h1>

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-calendar-days d-inline"></i> 
                                <div class ="date ms-2 d-inline">{{event.startDate | date("d/m/Y")}}</div>
                            </div> 
                        </div>

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-clock"></i>
                                <div class ="start-time ms-2 d-inline">{{event.startDate | date("G : i")}}</div>
                            </div> 
                        </div>
                        
                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-tags d-inline"></i> 
                                <div class="tags ms-2 d-inline"> 
                                    {% for tag in event.tags %}
                                        <a href="{{ path('show_tag', {slug: tag.slug}) }}">{{tag.name}}</a>
                                    {% endfor %}
                                </div>    
                            </div>
                        </div>

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-money-bill"></i>
                                <div class ="price ms-2 d-inline">{{event.price}}<span>€</span></div>
                            </div> 
                        </div>                        
 
                        <div class="separator mt-4"></div>

                        <div class="my-2 my-xl-3">    
                            <div class="scaled-xs">   
                                <p>{{event.description | raw}}</p>  
                            </div>  
                        </div>

                        <div class="separator mt-4"></div>

                        <div class="my-2">    
                            <div class="scaled-xs btn btn-primary">
                                <a href="{{ path('show_advertiser_page', {slug: event.user.slug}) }}">
                                    <i class="fa-solid fa-location-dot d-inline"></i> 
                                    <span class="ms-2"> {{event.user.name}} </span>  
                                </a>
                            </div>  
                        </div>
                        
                        <!-- contact info-->
                        <div class="scaled-xs">
                            <address class="mb-2">
                                <p><i class="fa-solid fa-location-dot me-2"></i>{{event.user.address1}}<br>
                                {% if event.user.address2 %}
                                        {{event.user.address2}}<br>
                                    {% else %}
                                {% endif %}
                                {{event.user.zip}} {{event.user.city}}</p>
                            </address>
                            <div class="my-2 my-xl-3">
                                <i class="fa-solid fa-phone me-2" ></i><a href="tel:+{{event.user.phone}}" class="phone">{{event.user.phone}}</a>
                            </div>
                            <div class="my-2 my-xl-3">
                                <i class="fa-solid fa-envelope me-2"></i><a href="mailto:{{event.user.email}}" class="email">{{event.user.email}}</a>
                            </div>
                        </div>
                        <!-- end contact info-->
                        
                        <!-- back to home or toher page-->
                        <div class="d-flex justify-content-start mt-5">
                            <a href="{{ path('show_category', {slug: event.category.slug}) }}">
                                <i class="fa-solid fa-circle-arrow-left fa-2xl d-inline"></i> <p class="d-inline scaled-xs">retour page catégorie</p>
                            </a>
                        </div>
                        <!-- end back to home-->

                    </div> <!-- end event details -->

                    {% include '_comments_on_event.html.twig' %}<!--User Comments -->
                     
                </div>     
            </div> 
     
        </div>
    </div>  

{% include '_cookie_concent.html.twig' %}

{% endblock %}



