{% extends 'base.html.twig' %}

{% block title %}page event{% endblock %}

{% block body %}
    
    <div class="container">
        <div class="row">

         {% for message in app.flashes('succes-comment') %}
            <div class="alert alert-success text-center mb-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}

            <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <div class="main">

                       <!-- edit button if it's your own event -->
                        {% if is_granted("EVENT_EDIT", event) %}
                                <div class="d-flex justify-content-start text-center">  
                                    <button type="button" class="btn btn-warning mb-3"><a href="{{ path("event_edit", {slug: event.slug}) }}">Modifier votre événement</a></button>
                                </div>  
                        {% endif %}
                        <!-- end edit button -->

                        <!-- add event in favorite -->
                                <div class="d-flex justify-content-start text-center">  
                                    <button type="button" class="btn btn-warning mb-3"><a href="{{ path("add_favorite", {id: event.id}) }}">Favori</a></button>
                                </div>  
                        <!-- end add favorite event-->

                    <!-- event picture -->
                    <div class="col-12 mb-3">
                       
                        {% if vich_uploader_asset (event, 'pictureFile') %}
                        <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') | imagine_filter ('event_picture_600') }}" alt="{{ event.name }}" />
                        {% else %}
                        <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') ?: '/upload/default_picture/default_event.jpg' | imagine_filter ('event_picture_600') }}" alt="{{ event.name }}" />
                        {% endif %}
                        
                    </div>

                    <!-- event details -->
                    <div class="col-12 p-1 p-sm-3">
                        <div class="my-3 mb-lg-4">
                            <div class="scaled-xs"> 
                                <a href="{{ path('show_category', {slug: event.category.slug}) }}">  
                                    <div class ="category bg-category-{{event.category.slug}} d-inline">{{event.category.name}}</div>
                                </a>
                            </div> 
                        </div>
                        
                        
                        <h1 class="name mb-2 mb-xl-3">{{event.name}}</h1>
                        

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-calendar-days d-inline"></i> 
                                <div class ="date ms-2 d-inline">{{event.startDate | date("d/m/Y")}}</div>
                            </div> 
                        </div>

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-clock"></i>
                                <div class ="start-time ms-2 d-inline">{{event.startDate | date("G : i")}}</div>
                            </div> 
                        </div>
                        
                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-tags d-inline"></i> 
                                <div class="tags ms-2 d-inline"> 
                                    {% for tag in event.tags %}
                                        <a href="{{ path('show_tag', {slug: tag.slug}) }}">{{tag.name}}</a>
                                    {% endfor %}
                                </div>    
                            </div>
                        </div>

                        <div class="my-2">    
                            <div class="scaled-xs">
                                <i class="fa-solid fa-location-dot d-inline"></i> 
                                <a href="{{ path('show_advertiser_page', {slug: event.user.slug}) }}">
                                    <div class="place ms-2 d-inline">{{event.user.name}}</div>
                                </a>
                            </div>  
                        </div>

                        <div class="my-2">
                            <div class="scaled-xs">
                                <i class="fa-solid fa-money-bill"></i>
                                <div class ="price ms-2 d-inline">{{event.price}}<span>€</span></div>
                            </div> 
                        </div>
 
                        <div class="separator mt-4"></div>

                        <div class="my-2 my-xl-3">    
                            <div class="scaled-xs">   
                                <p>{{event.description}}</p>  
                            </div>  
                        </div>

                        <div class="separator mt-4"></div>
                        
                        <!-- contact info-->
                        <div class="scaled-xs">
                            <address class="mb-2">
                                <i class="fa-solid fa-location-dot me-2"></i><p>{{event.user.address1}}<br>
                                {% if event.user.address2 %}
                                        {{event.user.address2}}<br>
                                    {% else %}
                                {% endif %}
                                {{event.user.zip}} {{event.user.city}}</p>
                            </address>
                            <div class="my-2 my-xl-3">
                                <i class="fa-solid fa-phone me-2" ></i><a href="tel:+{{event.user.phone}}" class="phone">{{event.user.phone}}</a>
                            </div>
                            <div class="my-2 my-xl-3">
                                <i class="fa-solid fa-envelope me-2"></i><a href="mailto:{{event.user.email}}" class="email">{{event.user.email}}</a>
                            </div>
                        </div>
                        <!-- end contact info-->
                        
                        <!-- back to home or toher page-->
                        <div class="d-flex justify-content-start mt-5">
                            <a href="{{ path('show_category', {slug: event.category.slug}) }}">
                                <i class="fa-solid fa-circle-arrow-left fa-2xl d-inline"></i> <p class="d-inline scaled-xs">retour page catégorie</p>
                            </a>
                        </div>
                        <!-- end back to home-->

                    </div> <!-- end event details -->

                    {# start comments div #}
                    <div class="container mt-3">
                    <h5 class="name mb-2 mb-xl-3">Derniers commentaires sur {{event.name}}</h5>

                    <div class="container mt-3">

                        {% for posts in event.posts %}
                            <div class="place ms-2 mb-2 d-inline">
                                {% if vich_uploader_asset (posts.author, 'avatarFile') %}
                                    <img class="" src="{{ vich_uploader_asset (posts.author, 'avatarFile') | imagine_filter ('avatar_50') }}" alt="{{ posts.author.name  }}" />
                                    {% else %} 
                                    <img class="" src="{{ vich_uploader_asset (posts.author, 'avatarFile') ?: '/upload/default_picture/default_avatar.jpg' | imagine_filter ('avatar_50') }}" alt="{{ posts.author.name  }}" />
                                {% endif %}
                                <div class="place ms-2">Par: {{ posts.author.name }}</div>    
                            </div>    

                        <div class="place ms-2 mb-3">Commentaire: {{ posts.content }}</div> 
                        {% endfor %}
                        </div>


                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <div class="d-flex justify-content-start mt-3">  
                                <button type="button" class="btn btn-warning mb-3"><a href="{{ path("event_post_comment", {slug: event.slug}) }}">Commenter</a></button>
                            </div>  

                        {% else %}
                           <div class="place ms-2 mb-2 d-inline">Connectez vous pour ajouter un commentaire sur {{event.name}}</div>
                                <div class="d-flex justify-content-start">  
                                    <button type="button" class="btn btn-warning mt-3"><a href="{{ path("app_login", {slug: event.slug}) }}">Login</a></button>
                                </div>  

                        {% endif %}
                    </div>{# end comments div #}
                </div>     
            </div> 
     
        </div>
    </div>  



{% endblock %}



