{% extends 'base.html.twig' %}

{% block title %}page d'accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>la page home</h1>

{# affiche le user name du user en session  #}
{% if app.user %}
    <H5 class="text-center mt-5">Hello ! {{ app.user.username }}<h5> 
{% endif %}

{# flash message après email vérification  #}
{% for message in app.flashes('emailverification') %}
    <div class="container alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# flash message après login  #}
{% for message in app.flashes('success-login') %}
    <div class="container alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# flash message après login et enregistrement statut annonceur  #}
{% for message in app.flashes('success-register-annonceur') %}
    <div class="container alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# flash message après login et enregistrement statut user  #}
{% for message in app.flashes('success-register-user') %}
    <div class="container alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# flash message après paswword reset  #}
{% for message in app.flashes('password-reset-success') %}
    <div class="container alert alert-success">
        {{ message }}
    </div>
{% endfor %}    

    <ul>
    cette page liste tous les événements.
    {% for event in events %}
        <li>{{ event.description }} </li>
        <li>{{ user.avatar }} </li>
        {% endfor %}
    </ul>


{% for user in users %}
  <img class="profileImage" src="{{ vich_uploader_asset (user, 'avatarFile') }}" alt="{{ user.name }}" />

  <img class="profileImage" src="{{ vich_uploader_asset (user, 'bannerFile') }}" alt="{{ user.banner }}" /> 
    <div class="orgaInfos bi bi-music-note"> {{ user.name }}</div>
      <div class="orgaUlDiv">
      <ul class="orgaUl">
        <li class="orgaLi bi bi-house"> {{ user.city }}</li>
        <li class="orgaLi"> {{ user.website }}</li>
        <li class="orgaLi"> {{ user.phone  }}</li>
        <li class="orgaLi bi bi-telephone"> {{ user.facebook  }}</li>
        <li class="orgaLi bi bi-envelope"> {{ user.capacity  }}</li>
      </ul>
    </div>  
    </div>
{% endfor %}


</div>
{% endblock %}
