{% extends 'base.html.twig' %}

{% block title %}Culture City App - accueil{% endblock %}

{% block body %}

<div class="container">
   {% include '_flashmessages.html.twig' %}
</div>

    <h2>Événements à venir</h2>
    <div class="separator"></div>

    {#% include 'front/main/_aside.html.twig' %#}
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-3">
        <form id="filters">
            <div class="aside p-4 mb-5  sticky-top ">
                <!-- search by date -->
                <input type="date" id="start" name="trip-start"  value="{{ "now"| date("Y-m-d") }}" min="2022-02-22" max="2032-12-31">
                
                <!-- Checked switch -->
                {% for category in categories %}

                    <div class="form-check form-switch d-flex align-items-center my-3">
                        <input class="form-check-input" name="filters[]" type="checkbox" role="switch3" value="{{ category.name }}" id="flexSwitchCheckChecked{{ category.name }}"/>
                        <label class="form-check-label text-white ms-2" for="flexSwi3tchCheckChecked{{ category.name }}">{{ category.name }}</label>
                    </div>

                {% endfor %}

                <a href="{{path('main_home')}}" class="btn btn-primary">Réinitialiser</a>
            </div>
        </form>

    <!-- Home premium events-->
    {% include '_home_premium_events.html.twig' %}

        <div class="col-12 col-lg-8 col-xl-9">

            {# leaflet files #}
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
            {# end of leaflet files #}

            <!-- leaflet map -->
            <div id="map" style="height: 300px;" class="mb-5"></div>
            <!-- leaflet map -->

            <div class="">
                
                <!-- Day events-->
                <h3 id="currentDate">{{ "now"| format_datetime('full', 'none', locale='fr') }}</h3>
                <div class="separator-small"></div>

                <div id="displayCurrentEvents" class="d-flex flex-column flex-md-row flex-wrap">
                
                    {% if currentEvents %}
                        
                    {% for event in currentEvents %}
                            <div class="col-12 col-sm-6 col-xl-4 col-xxl-3 mb-3 p-sm-3 ">
                                <div class="raisedContainer card overflow-hidden">
                                    <div class="d-flex d-flex flex-row flex-md-column">
                                        <div class="col-4 col-sm-12 ">
                                            <!-- pour avoir un bloc carré qui se redimensionne correctement, il faut créer un hack css avec square:after
                                                info ici : https://spin.atomicobject.com/2015/07/14/css-responsive-square/
                                            -->
                                            <a href="{{ path('show_event', {slug: event.slug}) }}">
                                                {% if vich_uploader_asset (event, 'pictureFile') %}
                                                <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') | imagine_filter ('event_picture_300') }}" type="image/webp" alt="{{ event.name }}" />
                                                {% else %}
                                                <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') ?: '/upload/default_picture/default_event.jpg' | imagine_filter ('event_picture_300') }}" type="image/webp" alt="{{ event.name }}" />
                                                {% endif %}

                                                {# <a href="#">
                                                    <div class="square" style="background-image:url('{{event.picture}}'); background-size:cover; background-position:center center; ">
                                                    </div>
                                                </a> #}
                                            </a>
                                            <a href="{{ path('show_category', {slug: event.category.slug}) }}">
                                                <div class="sticker-category text-center scaled-xs">
                                                    <div class="bg-category-{{event.category.slug}} d-inline"> {{event.category.name}}</div>
                                                </div>
                                            </a>
                                        </div>
                                    
                                        <div class="col-8 col-sm-12 p-1 p-sm-3">
                                            <a href="{{ path('show_event', {slug: event.slug}) }}">
                                                <h3 class="name mb-2">{{ event.name > 5 ? event.name|slice(0, 15) ~ '...' : event.name }}</h3>
                                            </a>

                                            <div class="my-2">
                                                <div class="scaled-xs">
                                                    <i class="fa-solid fa-calendar-days d-inline"></i> 
                                                    
                                                    {# Condition to display the good format date if event is on more one day#}
                                                    {% set date = 'now' | date("d/m/Y") %}
                                                    {% if event.startDate | date("d/m/Y") < date %}
                                                        <div class ="date ms-2 d-inline">{{date}}</div> <div class="d-inline btn-xs">en cours</div>
                                                    {% else %}
                                                        <div class ="date ms-2 d-inline">{{event.startDate | date("d/m/Y") }}</div>
                                                    {% endif %}
                                                   
                                                </div>
                                            </div>
                                            
                                            <div class="my-2">
                                                <div class="scaled-xs">
                                                 
                                                    <i class="fa-solid fa-tags d-inline"></i> 
                                                    <div class="tags ms-2 d-inline">
                                                            {% for tag in event.tags %}
                                                            <a href="{{ path('show_tag', {slug: tag.slug}) }}">{{tag.name}}</a>
                                                        {% endfor %}
                                                    </div>    
                                                </div>
                                            </div>

                                            <div class="my-2">    
                                                <div class="scaled-xs">
                                                    <i class="fa-solid fa-location-dot d-inline"></i> 
                                                    <a href="{{ path('show_advertiser_page', {slug: event.user.slug}) }}">
                                                        <div class="place ms-2 d-inline">{{event.user.placeName}}</div>
                                                    </a>
                                                </div>  
                                            </div>

                                            <div class="my-2">
                                                <div class="scaled-xs">
                                                    <i class="fa-solid fa-money-bill"></i>
                                                    <div class ="price ms-2 d-inline">{{event.price}}<span>€</span></div>
                                                </div> 
                                            </div>
                                            
                                            <div class="d-flex justify-content-end">
                                                <a href="{{ path('show_event', {slug: event.slug}) }}">
                                                    <i class="fa-solid fa-arrow-right-long me-2"></i>
                                                </a>
                                            </div>
                                            
                                            <!-- stockage des coordonnées et du nom du lieu dans des datasets pour récupération par le JS-->
                                            <div class="datasetEvents" data-coordinates="{{event.user.lat}}, {{event.user.lng}}, {{event.user.slug}}, {{ event.user.placeName }}"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                            
                        <p> Pas d'événement aujourd'hui</p>
                    
                    {% endif %}

                </div>

                <!--Other events -->
                <h3 class="mt-5"> Les événements suivant </h3>
                <div class="separator-small"></div>


                <div id="displayUpcomingEvents" class="d-flex flex-column flex-md-row flex-wrap">
              
                {# emmet : div.col-12>div.card>img+div.p-3r>h3+div.date+div.tags+div.place #}
            
                    {% if upcomingEvents %}
                    
                        {% for event in upcomingEvents %}
                            <div class="col-12 col-sm-6 col-xl-4 col-xxl-3 mb-3 p-sm-3 ">
                                <div class="raisedContainer card overflow-hidden">
                                    <div class="d-flex d-flex flex-row flex-md-column">
                                        <div class="col-4 col-sm-12 ">
                                            <!-- pour avoir un bloc carré qui se redimensionne correctement, il faut créer un hack css avec square:after
                                                info ici : https://spin.atomicobject.com/2015/07/14/css-responsive-square/
                                            -->
                                            <a href="{{ path('show_event', {slug: event.slug}) }}">
                                                {% if vich_uploader_asset (event, 'pictureFile') %}
                                                <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') | imagine_filter ('event_picture_300') }}" alt="{{ event.name }}" />
                                                {% else %}
                                                <img class="img-fluid w-100 border-radius" src="{{ vich_uploader_asset (event, 'pictureFile') ?: '/upload/default_picture/default_event.jpg' | imagine_filter ('event_picture_300') }}" alt="{{ event.name }}" />
                                                {% endif %}

                                                {# <a href="">
                                                    <div class="square" style="background-image:url('{{event.picture}}'); background-size:cover; background-position:center center; ">
                                                    </div>
                                                </a> #}
                                            </a>
                                            <a href="{{ path('show_category', {slug: event.category.slug}) }}">
                                                <div class="sticker-category text-center scaled-xs">
                                                    <div class="bg-category-{{event.category.slug}} d-inline"> {{event.category.name}}</div>
                                                </div>
                                            </a>
                                        </div>
                                    
                                        <div class="col-8 col-sm-12 p-1 p-sm-3">
                                            <a href="{{ path('show_event', {slug: event.slug}) }}">
                                                {# limit event name caracters #}
                                                <h3 class="name mb-2">{{ event.name > 5 ? event.name|slice(0, 15) ~ '...' : event.name }}</h3>
                                            </a>

                                            <div class="my-2">
                                                <div class="scaled-xs">
                                                    <i class="fa-solid fa-calendar-days d-inline"></i>  
                                                    <div class ="date ms-2 d-inline">{{event.startDate | date("d/m/Y") }}</div>
                                                </div> 
                                            </div>
                                            
                                            <div class="my-2">
                                                <div class="scaled-xs">
                                                    <i class="fa-solid fa-tags d-inline"></i> 
                                                    <div class="tags ms-2 d-inline">
                                                        {% for tag in event.tags %}
                                                            <a href="{{ path('show_tag', {slug: tag.slug}) }}">{{tag.name}}</a>
                                                        {% endfor %}
                                                    </div>    
                                                </div>
                                            </div>

                                            <div class="my-2">    
                                                <div class="scaled-xs">
                                                    <i class="fa-solid fa-location-dot d-inline"></i> 
                                                    <a href="{{ path('show_advertiser_page', {slug: event.user.slug}) }}">
                                                        <div class="place ms-2 d-inline">{{event.user.PlaceName}}</div>
                                                    </a>
                                                </div>  
                                            </div>

                                            <div class="my-2">
                                                <div class="scaled-xs">
                                                    <i class="fa-solid fa-money-bill"></i>
                                                    <div class ="price ms-2 d-inline">{{event.price}}<span>€</span></div>
                                                </div> 
                                            </div>
                                            
                                            <div class="d-flex justify-content-end">
                                                <a href="{{ path('show_event', {slug: event.slug}) }}">
                                                    <i class="fa-solid fa-arrow-right-long me-2"></i>
                                                </a>
                                            </div>

                                            <!-- stockage des coordonnées et du nom du lieu dans des datasets pour récupération par le JS-->
                                            <div class="nextDatasetEvents" data-coordinates="{{event.user.lat}}, {{event.user.lng}}, {{event.user.slug}}, {{ event.user.placeName }}"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                            
                        <p> Pas d'événement à venir</p>
                    
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
