{% extends 'base.html.twig' %}


{% block title %}login{% endblock %}

{# ... #}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4">

                <h1 class="alert mb-5">Connexion</h1>

                {% if error %}
                {# max login attempts message  #}
                <div class="alert alert-danger text-center mb-3" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
                {% endif %}


                {% if app.user %}
                    <h3 class="text-center mt-5">Vous êtes déjà connecté {{ app.user.username }}</h3> 
                {% else %}  

                    <form action="{{ path('app_login') }}" method="post">
                        <div class="form-group mb-3">
                            <label for="username" class="mb-2">Email:</label>
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="mb-2">Mot de passe :</label>
                            <input type="password" class="form-control" id="password" name="_password"/>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {# Champ caché qui retournee le user vers la dernière page passé en requette GET si il n'arrive
                        pas directement de la page login -> voir LoginController.php #}
                        {% if redirect_user_after_login is defined %}
                        <input type="hidden" name="_target_path" value="{{ redirect_user_after_login ~ '/post' }}"/> 
                        {% else %}
                    
                        {% endif %}
                        <div class="form-check checkbox p-0 mb-3">
                            <input id="form-check" class="d-inline" type="checkbox" name="_remember_me"> 
                            <label for="form-check" class="d-inline">se souvenir de moi </label>  
                        </div>

                        <button class="btn btn-primary" type="submit">Se connecter</button>
                        <a class="btn btn-primary" href="{{ path('user_register') }}">S'enregistrer</a>
                    </form>

                         

        

                {% endif %} 
            
            </div>
        </div>
    </div>
{% endblock %}