{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
<div class="container mt-5 text-left">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h3>Création de compte</h3>

    {{ form_start(registration) }}
        {{ form_row(registration.email) }}
        {{ form_row(registration.name) }}
        {{ form_row(registration.password, {
            label: 'Password'
        }) }}

        {{ form_row(registration.status) }}

        <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(registration) }}
</div>    
{% endblock %}
